   mat-toolbar {
     background-color: rgba(229, 176, 0, 255);
   }

   span {
     padding-right: 10px;
   }

   .horizontal-list {
     display: flex;
     flex-direction: row;
   }

   .mat-list-item {
     margin-right: 16px;
   }

   .nav-item.active .nav-link {
     color: black;
     font-size: 20px;
     background-color: yellowgreen;
   }

   ul {
     background-color: #e6b104;
   }

   ul li a {
    color: black;
   }