<div class="footer">
    <div class="container" style="border-bottom: 5px solid yellowgreen;">
        <div class="row">
            <div class="col-4" >
                <ul class="list-group">
                    <li class="list-header list-group-item" style="border-bottom: 5px solid yellowgreen; width: 170px;">Get to know us</li>
                    <li class="list-group-item list-child"><mat-icon class="icon">keyboard_arrow_left</mat-icon> About Us</li>
                    <li class="list-group-item list-child"><mat-icon class="icon">keyboard_arrow_left</mat-icon>Terms & Conditions</li>
                    <li class="list-group-item list-child"><mat-icon class="icon">keyboard_arrow_left</mat-icon>Privacy & Policy</li>
                    <li class="list-group-item list-child"><mat-icon class="icon">keyboard_arrow_left</mat-icon>Legal</li>
                </ul>
            </div>
            <div class="col-4">
                <ul class="list-group">
                    <li class="list-header list-group-item" style="border-bottom: 5px solid yellowgreen; width: 170px;">Contact us</li>
                    <li class="list-group-item list-child"><i class='fab fa-facebook fa-spin fa-2x' style="margin-right: 10px;"></i>Facbook</li>
                    <li class="list-group-item list-child"><i class='fab fa-github fa-spin fa-2x' style="margin-right: 10px;"></i>Git hub</li>
                    <li class="list-group-item list-child"><i class='fab fa-linkedin-in fa-spin fa-2x' style="margin-right: 10px;" ></i>Linkedin</li>
                    <li class="list-group-item list-child"><i class='fab fa-instagram fa-spin fa-2x' style="margin-right: 10px;"></i>Instagram</li>
                </ul>            </div>
            <div class="col-4">
                <img class="image" src="../../../assets/1.jpg" alt="">
            </div>
        </div>
    </div>
    <div class="container">
        <p>&copy; 2024 BSACET. All rights reserved.</p>
    </div>
</div>
