.login-container {
    background-color: yellowgreen;
    padding: 200px 200px 200px 550px;
    margin: 0;
    box-sizing: content-box;
    width: auto;
}

.field {
    width: 390px;
    margin-left: 5px;
}

.button {
    background-color: rgb(22, 194, 6);
    margin-top: 10px;
    margin-bottom: 10px;
    /* width: 150px; */
    margin-left: 3px;
    margin-right: 3px;
}

.form {
    height: 525px;
    width: 400px;
    background-color: white;
    display: flex;
    flex-direction: column;
    border-radius: 10px
}

h3 {
    margin: 40px 0px 30px 0px;
    font-size: 30px;
    font-weight: bold;
    color: rgb(22, 194, 6);
    text-align: center;
}

p {
    padding-left: 10px;
}

.error {
    text-align: left;
    color: red;
}

.forgot-password {
    color: rgb(22, 194, 6);
    cursor: pointer;
    padding-left: 130px;
    margin-top: 12px;
}

.inline-center {
    display: flex;
    align-items: center;
}

.label {
    margin-bottom: 5px;
    margin-left: 5px
}

.signup {
    text-align: center;
}

.signup p {
    color: gray;
}

.signup p span {
    color: rgb(22, 194, 6);
    cursor: pointer;
}


  