<div class="otp-container">
    <div class="main">
        <h3>OTP Verification</h3>
        <label>Enter Otp</label>
          <div>  
            <ngx-otp-input [config]="otpInputConfig" (otpChange)="handeOtpChange($event)" (fill)="handleFillEvent($event)">
            </ngx-otp-input>
          </div>
        <button mat-button class="button" type="submit">Verify</button>
        <div class="resend-otp">
          <p>Didn't you receive OTP? <span>Resend OTP</span></p>
        </div>
    </div>
</div>
