.otp-container{
    height: 100vh;
    width: 100%;
    background: url('../../assets/1.jpeg') no-repeat center center fixed;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main{ 
    height: 320px;
    width: 400px;
    background-color: white;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    align-items: center;

}

h3{
    margin: 40px 0px 30px 0px;
    font-size: 30px;
    font-weight: bold;
    color: rgb(22, 194, 6);
}

.button {
    background-color: rgb(22, 194, 6);
    margin-top: 10px;
    width: 150px;
    border-radius: 20px;
}

.main h3 {
    text-align: center;
}

.main label {
    margin-bottom: 10px;
}

.main button {
    margin-top: 20px;
}

.resend-otp {
    text-align: center;
    color: grey;
    margin-top: 10px;
}

.resend-otp span {
    color: rgb(22, 194, 6);
}


